
.auth-page{
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);

}
.authLogo{
    width: 64px;
    position: absolute;
    top: 16px;
}

.loginAuthLogo{
    top: 100px;
}
.signupAuthLogo{
    top: 100px;
}
.authResetLogo{
    top: 160px;
}
.authLogo img{
    width: 64px;
}
.altLogoContainer {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.orgAltLogoContainer{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.orgAltLogoContainer img{
    width: 64px;
}
.stepOneLogoContainer{
    top: 40px;
}
.stepFourLogoContainer{
    top: 160px;
}
.stepTwoLogoContainer{
    top: 150px;
}
.altLogoContainer img{
    width: 64px;
}


.auth-page--inner{
    display: flex;
    align-items: center;
    min-width:250px ;
    width: fit-content;
    height: fit-content;
    min-height: 400px;
    padding-block: 24px;
    padding-inline: 40px;
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
}
.AuthContentAlignment{
    width: 300px;
}

.auth-page-three,
.auth-page-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.auth-page-four{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}

.auth-process-number{
    display: flex;
    justify-content: left;
}
.auth-process-number p{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}


.auth-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 8px;
}
.auth-page-three .auth-logo--inner{
    margin-bottom: 10px;
}
.auth-logo--inner{
    text-align: center;
}
.auth-logo--inner span{
    color: grey;
}
.auth-logo--inner p{
    font-size: 16px;
    font-weight: 700;
}
.authIcon{
    display: flex;
    justify-content: center;
}
.authIcon .shieldIcon{
    font-size: 60px;
    color: grey;
}
.auth-logo img{
    width: 80px;
}
.auth-logo p{
    color: #000000;
}

.signup-input label{
    font-size: 12px;
    font-weight: 400;
    color: grey;
}
.signup-input{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.signup-input input{
    width: 90%;
    height: 36px;
    padding-left: 8px;
    border: none;  
}

.auth-page-three .signup-input div{
    display: flex;
    justify-content: center;
}
.auth-page-three .signup-input{
    /* grid-row-gap: 75px; */
}
.auth-page-three .authInputField{
    width: 70%;
}
.authInputField{
    color: lightgray;
    font-size: 18px;
    border-radius: 8px;
    padding-inline: 10px;
    border: 1px solid var(--line-color);
    
    display: flex;
    align-items: center;
}

.authCodeInput{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.auth-page input:focus{
    outline: none;
}
.auth-page button{
    width: 100%;
    height: 40px;
    background-color: var(--color-brandcolor);
    color: var(--color-white);
    border-radius: 8px;
    font-weight: bold;
}

.forgot-password{
    display: flex;
    justify-content: center;
    margin-top: 11px;
}
.forgot-password a{
    text-decoration: none;
}
.has-account{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}
.has-account p{
    color: var(--color-grey);
}
.has-account a{
    text-decoration: none;
    color: var(--color-brandcolor);
}
.agreement{
    margin-top: 24px;
}
.agreement p{
    color: var(--color-grey);
}
.agreement-links-outer{
    display: flex;
    justify-content: center;
}
.agreement-links{
    display: flex;
    grid-column-gap: 5px;
    margin-top: 6px;
}

.agreement-links a{
    text-decoration: none;
    color: var(--color-brandcolor);
}
.agreement-text{
    text-align: center;
}


.auth-code-input p{
    text-align: center;
}
.auth-code{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.auth-code input{
    height: 40px;
    padding-inline: 10px;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.auth-next-btn{
    margin-top: 10px;
}

.auth-code input[type=number]::-webkit-inner-spin-button, 
.auth-code input[type=number]::-webkit-outer-spin-button { 
  margin: 0; 
  display: none;
}
.verify-btn{
    margin-top: 21px;
    font-size: 12px;
}


.auth-form-list{
    display: none;
}


.resetPassword a{
    font-size: 12px;
    width: 25%;
    text-align: right;
    text-decoration: none;
}
.resetPassword button{
    margin-top: 10px;
}




/* sign up options  */
.signupWithGoogle .googleBtn{
    background: none!important;
    color: black;
    font-size: 13px;
    border: 1px solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 8px;
}
.googleBtn img{
    width: 15px;
}
.line-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 10px;
}
.horizontal-line{
    border: 1px solid lightgray;
    width: 50%;
    height: 0px;
}
.org-auth-logo--inner p{
    font-size: 20px;
}
.org-signup .auth-next-btn{
    margin-top: -1px;
}