/* .AuthPlate{
    display: none !important;
} */
.auth-page{
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-light-gray);

}
.auth-page--inner{
    display: flex;
    align-items: center;
    min-width: 360px;
    max-width: 360px;
    min-height: 640px;
    max-height: 640px;

    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    padding-inline: 41px;
}



.auth-logo{
    display: flex;
    justify-content: center;
}
.auth-logo--inner{
    text-align: center;
    margin-bottom: 21px;
}
.auth-logo img{
    width: 80px;
}
.auth-logo p{
    color: #000000;
}

.signup-input * + *{
    margin-top: 21px;
}
.signup-input input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-inline: 10px;
    color: grey;

    border: 1px solid var(--line-color);
}

.auth-page input:focus{
    outline: none;
}
.auth-page button{
    width: 100%;
    height: 40px;
    background-color: var(--color-brandcolor);
    color: var(--color-white);
    border-radius: 8px;
    font-weight: bold;
}

.has-account{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    /* padding-inline: 41px; */
}
.has-account p{
    color: var(--color-grey);
}
.has-account a{
    text-decoration: none;
    color: var(--color-brandcolor);
}
.agreement{
    margin-top: 24px;
}
.agreement p{
    color: var(--color-grey);
}
.agreement-links{
    display: flex;
    grid-column-gap: 5px;
    margin-top: 6px;
}

.agreement-links a{
    text-decoration: none;
    color: var(--color-brandcolor);
}
.agreement-text{
    text-align: center;
}


.auth-code-input p{
    text-align: center;
}
.auth-code{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.auth-code input{
    height: 40px;
    padding-inline: 10px;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.auth-code input[type=number]::-webkit-inner-spin-button, 
.auth-code input[type=number]::-webkit-outer-spin-button { 
  margin: 0; 
  display: none;
}
.verify-btn{
    margin-top: 21px;
    font-size: 12px;
}


