button{
    border: none;
}
button:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}
.all-btns{
    margin-bottom: auto;
    width: 100%;
    height: 32px;
    color: white;
    border-radius: 8px;
   
}

.pnext-btn,
.next-btn{
    text-align: center;
    padding-block: 5px;
}

.back-btn{
    text-align: center;
    padding-block: 5px;
}

.pnext-btn:hover{
    cursor: pointer;
}
.next-btn:hover{
    cursor: pointer;
}
.join-session-btn{
    background-color: var(--color-brandcolor);
    border: none;
    border-radius: 8px;
}

/* aks cards  */
.option-btns{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.option-btns-inner * + *{
    margin-top: 10px;
}

.option-btns button{
    background-color: transparent;
    height: 33px;
    width: 100%;
    border: 1px solid var(--color-brandcolor);
    text-align: left;
    padding-inline: 14px;
    border-radius: 8px;
    color: #000000;
}
.option-btns button:hover{
    background-color: var(--color-brandcolor);
    color: white;
}



.optionChoice{
    position: fixed;
    left: 0;
    top: 0;
    /* transform: translateY(-110%); */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3000;

    display: none;
}
.optionChoiceInner{
    min-width: 35.5%;
    max-width: 35.5%;
    max-height: 200px;
    margin-right: 10px;
    border: 1px solid var(--line-color);
    background-color: var(--color-white);
    padding-inline: 20px;
    border-radius: var(--card-border-radius);
    box-shadow: 0px 2px 5px 0px rgb(128, 128, 128, 0.5);
    margin-block: auto;
}
@media (max-width:1270px){
    .optionChoiceInner{
        min-width: 54%;
       
    }
}
@media (max-width:900px){
    .optionChoiceInner{
        min-width: 79%;
       margin-right: -3px;
    }
}
@media (max-width:600px){
    .optionChoiceInner{
        min-width: 100%;
        margin-right: 1px;
    }
}
.optionChoiceInner p{
    margin-block: 20px;
}
.optionChoiceInner textarea{
    height: 55px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid var(--line-color);
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 10px;
}
.optionChoiceInner textarea:focus{
    outline: none;
}
.optionForm{
    display: flex;
    grid-column-gap: 20px;
}
.optionForm form{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.optionForm button{
    text-align: center;
}



/* floating button  */

.floatingButtonOuter{
    position: fixed;
    bottom: 15%;
    right: 6.5%;
    overflow-y: hidden;
    padding-inline: 4px;
}
.hiddenFloatMenu{
    display: none;
    
}


.hiddenFloatMenu * + *{
    margin-top: 10px;
}
.floatMenu, .floatingButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brandcolor);
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.3);

}
.floatMenu:hover, .floatingButton:hover{
    cursor: pointer;
    background-color: #5b0893;
}
.floatMenu{
    z-index: 4000;
}
.floatingButton{
    margin-top: 10px;
    z-index: 5000;
}
.floatingButtonOuter i{
    color: white;
    font-size: 25px;
}

.displayFloatingButton{
    display: block;
    animation-name:animFloat ;
    animation-duration: 0.5s;
}

@keyframes animFloat {
    from{transform: translateY(50%);}
    to{transform: translateY(0%);}
}