
.comment-page--inner input{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--line-color);
    font-size: 12px;
    padding-inline: 20px;
}
.comment-page--inner input:focus{
    outline: none;
}

.singleComment{
    display: block;
}
.user-comment-avater{
    display: flex;
    align-items: top;
    grid-column-gap: 8px;
}
.user-comment-avater img{
    max-width: 30px;
    max-height: 30px;
}
.user-comment-avater{
    display: flex;
    margin-bottom: 10px;
}
.comment-reaction-list{
    display: flex;
    grid-column-gap:25px;
    margin-top: 10px;
}
.comment-reaction-list i{
    color: var(--color-grey);
}

.reaction-item{
    display: flex;
    grid-column-gap: 5px;
}
.ask-reactions{
    display: flex;
    align-items: center;
    grid-column-gap: 20px;
}
.ask-reactions:hover{
    cursor: pointer;
}



/* session comments  */
.commentObject{
    margin-bottom: 10px;
}

.commentMenu{
    font-size: 18px;
    float:right;
    position: absolute;
    transform: translateY(-25%);
    left: 65%;
    border-radius: 8px;
    padding-block: 5px;
    padding-inline: -10px;
}
@media (max-width:1270px){
    .commentMenu{
        left: 74%;
    }
}
@media (max-width:900px){
    .commentMenu{
        left:86%;
    }
}
@media (max-width:600px){
    .commentMenu{
        left: 93%;
    }
}
.commentMenu:hover{
    background-color: var(--color-light-gray);
}
.commentLevelTwo{
    margin-left: auto;
    max-width: 91%;
}
.subComments{
    margin-left: auto;
}

.commentOwnerLevel .user-comment-avater img,
.commentLevelTwo .user-comment-avater img{
    max-width: 25px;
    max-height: 25px;
}

.openSubComment{
    color: var(--color-grey);
    font-size: 11px;
    margin-left: auto;
}
.openSubComment:hover{
    cursor: pointer;
}

.subComments{
    padding-top: 10px;
}


/* thread  */

.thread-outer{
    height: 100%;
    background-color: white;
    margin-top: 6px;
}


.thread-title-outer{
    width: 100%;
}
.thread-title{
    display: flex;
    align-items: center;
    padding-block: 5px;
    background-color: var(--color-white);
    width: 100%;
}
.thread-title a{
    margin-right: 5px;
}
@media (max-width:600px){
    .thread-title{
        min-width: 100%;
    }
}
@media (min-width:599px) and (max-width:900px){
    .thread-title{
        min-width: 79.5%;
    }
}
@media (max-width:1270px){
    .thread-title{
        flex-basis: 54%;
        margin-right: 12px;
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .thread-title{
        max-width:28.5rem ;
    }
}

.close-thread{
    width: fit-content;
    color: var(--color-grey);
}
.close-thread:hover{
    cursor: pointer;
}
.thread-list::-webkit-scrollbar{
    display: none;
}
.thread-list{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.threadRelatedCard{
    margin-top: 0px;
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 10px;
}
.commentBox{
    padding-inline: 10px;
    padding-block: 10px;
}
.askComments{
    display: none;
}
.displayAskResponse{
    display: block;
}
.removeAskResponse{
    display: none;
}

.commentMenu{
    display: flex;
    align-items: center;
}
.commentMenuIcon{
    margin-left: auto;
    border-radius: 10px;
}

.commentMenuIcon:hover{
    background-color: var(--color-light-gray);
}
.commentUserTitle{
    margin-bottom: 7px;
    font-weight: 600;
    color: var(--color-grey);
}
.vote{
    font-size: 11px;
    width: fit-content;
    padding-inline: 20px;
    background-color:rgb(112, 12, 179, 0.2);
    border-radius: 10px;
    font-weight: 600;
    padding-bottom: 1px;
}
.vote-time{
    margin-left: auto;
    color: green;
    align-self: center;
}
.ask-vote-time{
    margin-top: 7px;
}
.starList{
    position: absolute;
    transform: translateX(0%) translateY(-13%);
    background-color: white;
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    display: none;
}

.starListInner{
    display: flex;
    grid-column-gap: 13px;
}
.starItem{
    list-style: none;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 6px grey;
    font-size: 20px !important;
}
.starItem:hover{
    color: gold;
}
.starItem.active, .starItem.secondary-active{
    color:gold;
}
input[type="radio"]{
    display: none;
}

.starList button{
    background-color: var(--color-brandcolor);
    color: white;
    height:fit-content;
    padding-inline: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px grey;
}

.thread-message{
    font-size: 13px;
}
.factLink{
    margin-bottom: -8px;
    margin-top: -4px;
    height: fit-content;
}
.starRating{
    display: flex;
    align-items: center;
}
.starRating i{
    color: gold;
    font-size: 18px;
}
.starRating p{
    font-size: 10px;
    height: fit-content;
}
.userStance{
    padding-inline: 10px;
    padding-block: 1px;
    border-radius: 3px;
    background-color:var(--color-brandcolor) ;
    color: white;
    font-weight: bold;
    font-size: 10px;
    box-shadow: 1px 1px 1px 0px grey;
}
.starRating:hover{
    cursor: pointer;
}
.thread-list .comment-user{
    font-size: 11px;
}
.thread-comment-outer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.thread-comment-inner{
    display: flex;
    justify-content: center;
}
.thread-comment{
    padding-block: 10px;
    padding-inline: 10px;
    display: flex;
    grid-column-gap: 10px;
    background-color: var(--color-white);
    width: 35.5%;
    margin-right: 12px;
}
@media (max-width:600px){
    .thread-comment{
        min-width: 100%;
        margin-right: 0px;
        margin-left: 12px;
    }
}
@media (min-width:599px) and (max-width:900px){
    .thread-comment{
        min-width: 80%;
        margin-left: 17px;
        
    }
}
@media (max-width:1270px){
    .thread-comment{
        flex-basis: 54%;
        margin-right: 12px;
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .thread-comment{
        max-width:28.5rem ;
    }
}

.thread-comment textarea{
    width: 100%;
    max-width: 100%;
    height:40px ;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid var(--line-color);

}

.thread-comment textarea:focus{
    height: 60px;
    outline: none;
}
.thread-comment img{
    max-width: 40px;
    max-height: 40px;
}
.thread-comment .askInputButton{
    max-height: 40px;
    padding-inline: 10px;
    border-radius: 10%;
    background-color: var(--color-brandcolor);
    color: var(--color-white);
    font-weight: 700;
}
.thread-comment button{
    max-height: 40px;
    padding-inline: 10px;
    border-radius: 10%;
    background-color: var(--color-brandcolor);
    color: var(--color-white);
    font-weight: 700;
}
.thread select{
    width: 100%;
    display: flex;
}
.stanceChoicesOuter{
    position: absolute;
    left: 0;
    bottom: 13%;
    width: 100%;
    z-index: 4000;

    display: flex;
    justify-content: center;
    display: none;

    animation-name: stanceAnim;
    animation-duration: 0.5s;
}
@keyframes stanceAnim {
    from{transform: translateY(50%);}
    to{transform: translateY(0%);}
}

.stanceChoices{
    width: 35.5%;
    margin-right: 12px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 20px;
    padding-block: 12px;

}
@media (max-width:600px){
    .stanceChoices{
        min-width: 100%;
        max-width: 100%;
        margin-left: 15px;
    }
}
@media (min-width:599px) and (max-width:900px){
    .stanceChoices{
        min-width: 80%;
        margin-left: 15px;
    }
}
@media (max-width:1270px){
    .stanceChoices{
        flex-basis: 54%;
        margin-right: 12px;
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .stanceChoices{
        max-width:28.5rem ;
    }
}

.stanceChoices button{
    padding-inline: 20px;
    padding-block: 2px;
    border-radius: 5px;
    background-color: var(--color-brandcolor);
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.stanceChoices label:hover{
    cursor: pointer;
}

.closeStance{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--color-light-gray);
    color: var(--color-grey);
}

.closeStance:hover{
    cursor: pointer;
}

/* comment menu card  */
.commentMenuCardOuter{
    position: absolute;
    right: 35.5%;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    display: none;
}
.commentMenuContent{
    display: flex;
    flex-direction: column;
    grid-row-gap: 7px;
}
@media (max-width:1270px){
    .commentMenuCardOuter{
        right: 27%;
    }
}

@media (max-width:900px){
    .commentMenuCardOuter{
        right:15%;
    }
}
@media (max-width:600px){
    .commentMenuCardOuter{
        right: 7%;
    }
}
.commentMenuCard{
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.7);
    min-height: 20px;
    min-width: 270px;
    max-width: 270px;
    z-index: 6000;
    padding-inline: 20px;
    box-shadow: 0px 1px 2px 2px rgb(128, 128, 128, 0.2);
}


.showSubMenu{
    display: flex !important;
}
.commentMenuPlate{
    color: white;
    font-style: normal;
    font-size: 25px;
    padding-block: 1px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    padding-inline: 10px;

    display: flex;
    grid-column-gap: 20px;
}
.commentMenuPlate button{
    background-color: transparent;
    color: white;
    font-weight: 600;
}
.commentMenuPlate span{
    min-width: 100%;
}
.closeCommentMenu{
    display: flex;
    align-items: center;
}
.closeCommentMenu:hover{
    cursor: pointer;
}
.closeCommentMenu span{
    font-size: 13px;
    font-weight: 600;
}
