
.comment-page--inner input{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--line-color);
    font-size: 12px;
    padding-inline: 20px;
}
.comment-page--inner input:focus{
    outline: none;
}

.singleComment{
    display: flex;
}
.user-comment-avater{
    margin-right: 10px;
}
.user-comment-avater img{
    max-width: 30px;
    max-height: 30px;
}
.user-comment-avater{
    display: flex;
    margin-bottom: 10px;
}
.comment-reaction-list{
    display: flex;
    grid-column-gap:25px;
    margin-top: 10px;
}
.comment-reaction-list i{
    color: var(--color-grey);
}

.reaction-item{
    display: flex;
    grid-column-gap: 5px;
}
.comment-user{
    margin-bottom: 8px;
}


/* session comments  */
.commentObject{
    margin-bottom: 10px;
    padding-inline: 20px;
}
.commentLevelTwo{
    margin-left: auto;
    max-width: 91%;
}
.commentOwnerLevel .user-comment-avater img,
.commentLevelTwo .user-comment-avater img{
    max-width: 25px;
    max-height: 25px;
}

.openSubComment{
    color: var(--color-grey);
    font-size: 11px;
    /* width: 91%; */
    margin-left: auto;
}
.openSubComment:hover{
    cursor: pointer;
}

.subComments{
    padding-top: 10px;
}


/* thread  */
.thread-outer{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2000;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
    border: 1px solid green;
}

.thread-inner{
    /* max-height: 85%; */
    /* max-height: 85%; */
    height: 100%;
}
.thread{
    background-color: var(--color-white);
    flex-basis: 35.4%;
    height: 100%;
    margin-right: 10px;
}
@media (max-width:600px){
    .thread{
        min-width: 99%;
        margin-right: 0px;
    }
}
@media (min-width:601px) and (max-width:900px){
    .thread{
        min-width: 79%;
        margin-right: -5px;
    }
}
@media (max-width:1270px){
    .thread{
        flex-basis: 54.5%;
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .thread{
        max-width:28.5rem ;
    }
}



.thread-title{
    border-bottom: 1px solid var(--line-color);
    display: flex;
    grid-column-gap: 30px;
    padding-block: 5px;
    padding-inline: 20px;
}

.close-thread{
    width: fit-content;
    float: left;
    color: var(--color-grey);
}
.close-thread:hover{
    cursor: pointer;
}
.thread-list{
    overflow-y: auto;
    max-height: 550px;
    
    /* max-height: 100%; */
    /* padding-bottom: 80px; */
    border: 1px solid goldenrod;
}
.thread-list::-webkit-scrollbar{
    display: none;
}
.thread-list{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.threadRelatedCard{
    margin-top: 0px;
    padding-bottom: 10px;
}
.thread-message{
    font-size: 12px;
}
.thread-list .comment-user{
    font-size: 11px;
}

.thread-comment{
    position: relative;
    bottom: 0;
    width: 100%;
    padding-block: 10px;
    padding-inline: 20px;
    display: flex;
    grid-column-gap: 10px;
    background-color: var(--color-white);
    z-index: 3000;
    border: 1px solid red;
}

.thread-comment textarea{
    width: 100%;
    max-width: 100%;
    height:40px ;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid var(--line-color);

}

.thread-comment textarea:focus{
    height: 60px;
    outline: none;
}
.thread-comment img{
    max-width: 30px;
    max-height: 30px;
}
.thread-comment button{
    max-height: 40px;
    padding-inline: 10px;
    border-radius: 10%;
    background-color: var(--color-brandcolor);
    color: var(--color-white);
    font-weight: 700;
}
.thread select{
    width: 100%;
    display: flex;
}
