.comment-page{
    display: flex;
    justify-content: center;
    max-height: 0px;
    /* display: none; */
    overflow: hidden;
    padding-inline: 20px;
    border-radius: 0px 0px 10px 10px;
}
.openComment{
    max-height: 550px;
}
.comment-page--inner{
    width: 100%;
    border-top: 1px solid var(--line-color);
    padding-block: 20px;
}
.comment-list-outer{
    max-height:400px ;
    overflow-y: auto;
}
.comment-list-outer::-webkit-scrollbar{
    display: none;
}
.comment-list-outer{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.comment-page--inner input{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--line-color);
    font-size: 12px;
    padding-inline: 20px;
}
.comment-page--inner input:focus{
    outline: none;
}

.singleComment{
    margin-bottom: 20px;
    display: flex;
}
.user-comment-avater{
    margin-right: 10px;
}
.user-comment-avater img{
    max-width: 30px;
    max-height: 30px;
}
.user-comment-avater{
    display: flex;
    margin-bottom: 10px;
}
.comment-reaction-list{
    display: flex;
    grid-column-gap:25px;
    margin-top: 10px;
}
.comment-reaction-list i{
    color: var(--color-grey);
}

.reaction-item{
    display: flex;
    grid-column-gap: 5px;
}
.comment-user{
    margin-bottom: 8px;
}


/* session owner comments  */
.commentOwnerLevel{
    max-width: 91%;
    margin-left: auto;
}
.subCommentLevel .user-comment-avater img,
.commentOwnerLevel .user-comment-avater img{
    max-width: 25px;
    max-height: 25px;
}


/* subcomments  */
.openSubCommentContent{
    max-height: 400px !important;
}
.subComments{
    margin-top: 5px;
    max-height: 22px;
    overflow-y: hidden;
}
.openSubComment{
    color: var(--color-grey);
    margin-bottom: 5px;
    font-size: 11px;
}
.openSubComment:hover{
    cursor: pointer;
}

.subComment--inner{
    padding-block: 8px;
    min-height: 100px;
    max-height: 350px;
    overflow-y: auto;
}
.subComment--inner::-webkit-scrollbar{
    display: none;
}
.subComment--inner{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}