::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-button {
    background: #eee ;
}
::-webkit-scrollbar-track-piece {
    background: #D9D9D9;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

.content-container{
    width: 100%;
    max-width: 100%;
    padding-inline: var(--page-wall-spacing);
    padding-bottom: 10rem;
}

.bars-container{
    display: flex;
    grid-column-gap: 38px;
}

.main-bar{
    display: flex;
    grid-column-gap: 16px;
    padding-top: var(--space-one);
}
.col-one{
    width: 140px;
    max-width: 140px;
}
.col-two{
    display: flex;
    flex-direction: column;
    min-width: 230px;
    max-width: 230px;
    grid-row-gap: 12px ;
}
.col-three{
    width: 480px;
}
.col-one,
.col-three,
.col-two{
    min-height: 30rem;
}

@media (max-width:521.78px){
    .col-three{
        width: 100%;
    }
    .content-container{
        padding-inline: 0px;
    }
    .main-bar{
        grid-column-gap: 0px;
    }
}

@media (max-width:1000px) {
    .col-two{
        display: none;
    }
}

@media only screen and (max-width:1274px){
    .content-container{
        display: flex;
        justify-content: center;
    }
}
@media (min-width:1500px){
    .content-container{
        display: flex;
        justify-content: center;
    }
    .bars-container{
        width: 1347px;
        padding-inline: var(--page-wall-spacing);
    }
}
