.start-time {
    display: flex;
    grid-column-gap: 20px;
}
.start-time p{
    color: var(--color-grey);
}
.input-style{
    align-items: center;
}
.input-style select{
    border: none;
    background-color: transparent;
}
.input-style select:focus{
    outline: none;
}
.input-style select option{
    text-align: left;
    padding-block: 30px;
}
.input-style input{
    border: none;
    width: 100%;
}
.input-style input:focus{
    outline: none;
}

input[type="file"]::file-selector-button {
    border: none;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: none;
    transition: 1s;
}
  
  input[type="file"]::file-selector-button:hover {
    background-color: none;
    border:none;
}


.form-plate{
    padding-inline: 20px;
    padding-block: 20px;
    min-height: 33rem;
}
.form-plate form{
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
}
.form-plate button{
    border: none;
}
.form-plate select{
  width: 100%;
}

.exitCreatePoll,
.exitCreateBrainstorm,
.exitCreateAsk{
    position: absolute;
    right: 34%;
    transform: translateY(-250%);
    color: var(--color-grey);
}


.exitCreatePoll:hover,
.exitCreateBrainstorm:hover,
.exitCreateAsk:hover{
    cursor: pointer;
}

.input-style{
    display: flex;
    height: 38px;
    border: 1px solid var(--line-color);
    border-radius: var(--card-border-radius);
    padding-inline: 10px;
    padding-block: 5px;
    margin-top: 5px;
}


.single-input label{
    margin-left: 12px;
}


.double-options .industryOrInterest{
    margin-bottom: 10px;
}


.emotion-sub,
.idea-sub,
#Interest{
    display: none;
}

.industryOrInterest{
    display: flex;
    grid-column-gap: 30px;
}

.industryOrInterest div{
    align-items: center;
    display: flex;
}
.industryOrInterest input{
    width: 17px;
    height: 17px;
}

.industryOrInterest * + *{
    margin-left: 10px;
}

.industryOrInterest label{
    margin-left: 12px;
}
.multipleInput{
    display: flex;
    justify-content: space-between;
}
.mutipleInputChild{
    flex-basis: 45%!important;
    grid-column-gap: 5px;
}

.question{
    height: 97px;
    border: 1px solid var(--line-color);
    border-radius: var(--card-border-radius);
    padding-inline: 10px;
    padding-block: 5px;
    margin-top: 5px;
}

.question textarea{
    width: 100%;
    height: 85px;
    border: none;
}
.question textarea:focus{
    outline: none;
}
.displayPoll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 300;
    background-color: var(--color-pop-background);
    overflow-y: auto;
    display: none;
}

.displayAsk{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 300;
    background-color: var(--color-pop-background);
    overflow-y: auto;
    display: none;
}
.displayBrainstorm{
    display: flex;
    justify-content: center;
    display: none;
}
.Pform3,
.Pform2,
.Bform6,
.Bform5,
.Bform4,
.Bform3,
.Bform2{
    display: none;
}

.guidelines .single-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create-session{
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    z-index: 300;
    background-color: var(--color-pop-background);
    /* overflow-y: auto; */
    /* padding-block: 80px; */
}
.create-session-inner{
    border: 1px solid white;
    flex-basis: 35.4%;
    min-height: 39rem;
    margin-right: 12px;
    padding-block: 20px;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
}

.singleBtn{
    display: flex;
    padding-inline: 20px;
}

.multipleBtn{
    display: flex;
    grid-column-gap: 23px;
    padding-inline: 20px;
}

.multipleBtn .goBack{
    border: 1px solid var(--color-brandcolor);
    background-color: white;
    color: var(--color-brandcolor);
}

.create-title{
    text-align: center;
    margin-bottom: 20px;
}
.radio{
    height: 18px;
    width: 18px;
}


.option-description{
    text-align: center;
    color: var(--color-grey);
}


@media (max-width:600px){
    .create-session-inner{
        min-width: 99%;
        margin-right: 0px;
    }
}
@media (max-width:900px){
    .create-session{
        flex-basis: 100%;
    }
    .create-session-inner{
        flex-basis: 100%;
    }
}
@media (max-width:1270px){
    .create-session-inner{
        flex-basis: 54.5%;
        /* margin-right: 12px; */
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .create-session-inner{
        max-width:28.5rem ;
    }
}