
.hiddenMenuOuter{
    position: fixed;
    top: 0;
    right: 0;
    min-width: 15.4rem;
    max-width: 15.4rem;
    height: 100%;

    z-index: 300;
    background-color: var(--color-white);
    padding-left: 20px;
    padding-top: 10px;
    transform: translateX(250px);

    transition: 0.5s ease;
    border: 1px solid var(--line-color);
    overflow-y: auto;
}
.hiddenUsername p{
    font-weight: 700;
}

.hiddenMenu * + *{
    margin-top: 10px;
}
.hiddenMenu a{
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    text-decoration: none;
}
.hiddenMenu i{
    font-size: 21px;
    color: black;
    min-width: 35px;
}
.hiddenMenu p{
    font-size: 13px;
    color: #858585;
    margin-bottom: 10px;
}

.hiddenMenu a:hover > p,
.hiddenMenu a:hover i{
    color: var(--color-brandcolor);
}

.mode-list{
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 10px;
}

.mode-list img{
    min-width: 40px;
    max-width: 40px;
}
.hiddenMenuUsername{
    border-bottom: 1px solid var(--line-color);
    border: 1px solid black;
}
.hiddenMenuUsername p{
    font-size: 14px;
    font-weight: 700;
}
.hiddenMenuOuter .userActionOuter{
    height: fit-content;
    padding-block: 30px;
}
.hiddenMenuOuter .userActionInner{
    padding-top: 0px;
}
.hiddenMenuOuter .userActionInner a{
    padding-inline: 0px;
}

.teamsOuter{
    border: 1px solid red;
    height: 10px;
    color: black;
}