
.hiddenMenuOuter{
    position: fixed;
    transform: translateY(8%) translateX(250px);
    top: 0;
    right: 0;
    min-width: 15.4rem;
    max-width: 15.4rem;
    padding-top:20px;
    height: 100%;

    z-index: 300;
    background-color: var(--color-white);
    padding-left: 20px;

    transition: 0.5s ease;
    border: 1px solid var(--line-color);
}

.hiddenMenu * + *{
    margin-top: 10px;
}
.hiddenMenu a{
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    text-decoration: none;
}
.hiddenMenu i{
    font-size: 21px;
    color: black;
    min-width: 35px;
}
.hiddenMenu p{
    font-size: 13px;
    color: #858585;
    margin-bottom: 10px;
}

.hiddenMenu a:hover > p,
.hiddenMenu a:hover i{
    color: var(--color-brandcolor);
}

.mode-list{
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.mode-list{
    display: flex;
}
.mode-list img{
    width: 40px;
}


@media (min-width:1270px){
    .hiddenMenuOuter{
        display: none;
    }
}