
.head-content-outer{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 200;
}

.header-page{
    height: 40px;  
}
.header-content{
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    min-height: 38px;
    width: 100%;
    background-color: white;
}
.h1{
    padding-left: 8px;
}

.h1,
.h2
{
    justify-content: left;
}
.h5{
    justify-content: center;
}
.h2 .logo{
    display: none;
}
.logo-name{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    max-width: 36px;
}

.logo-name h1{
    font-size: 18px;
}


.search-bar{
    display: flex;
    align-items: center;
    height: 25px;
    width: 100%;
    padding-block: 5px;
    padding-inline: 7px;
    background-color: #c2c2c23d;
    border-radius: 9px;
}
.search{
    display: flex;
    align-items: center;
    height: 17px;
}
.search input{
    border: none;
    background-color: transparent;
    color: var(--color-grey);
    font-size: 14px;
    color: #858585;
}
.search input:focus{
    outline: none;
}
.search-icon{
    font-size: 16px;
    margin-right: 8px;
    color:#858585;
}

.h3 .menuIcon,
.h3 .search-bar,
.h3 .logo{
    display: none;
}
.menuIcon{
    display: none;
}

.mode{
    display: flex;
    justify-content: center;
}
.mode .list{
    display: flex;
    align-items: center;
    grid-column-gap: 12px;
}
.mode img{
    width: 25px;
}
.mode i{
    font-size:17px ;
}

@media (max-width:900px){
    .h3 .menuIcon,
    .h3 .search-bar,
    .h3 .logo{
        display: block;
    }
}

@media (max-width:1270px){
    .h2 .logo{
        display: block;
    }
    .h4{
        justify-content: right;
    }
    .menuIcon{
        display: block;
        font-size:21px;
        color: #858585;
        margin-inline: 15px;
        align-items: center;
    }
    .h4 .search-bar{
        display: none;
    }
    .h3 .search-bar{
        display: block;
    }

}

@media (min-width:1559px){
    .col-1{
        width: 100%;
    }
    .header-content{
        width: 100%;
    }
    .header-content-outer{
        width: 100%;
    }

   
}
