.logo-name img{
    width: var(--logo-size);
    margin-right: var(--space-card-vertical);
}

.side-menu img{
    width: var(--icon-size);
}
.user-avater img{
    width: 40px;
    margin-right: 15px;
}