.side-menu{
    padding-left: 15px;
    padding-top: 6.8px;
    position: fixed;
}
.side-menu * + *{
    margin-top: 8px;
}

.side-menu a{
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    text-decoration: none;
}

.side-menu i{
    font-size: 21px;
    color: black;
    min-width: 35px;
}

.side-menu p{
    font-size: 13px;
    color: #858585;
    margin-bottom: 10px;
}