.side-menu{
    margin-right: -19px;
}
.side-menu * + *{
    margin-top: 15px;
}

.side-menu a{
    display: flex;
    text-decoration: none;
}

.side-menu a div{
    max-width: 30px;
    min-width: 30px;
    padding-top: 9px;
}
.side-menu a i{
    font-size: var(--icon-size);
    color: black;
}
.side-menu a:hover > p,
.side-menu a:hover i{
    color: var(--color-brandcolor);
}
.side-menu a * + *{
    margin-left: 13px;
}
.side-menu p{
    font-size: 15px;
    font-weight: var(--fontweight-600);
    color: var(--color-grey);
}
/* .side-menu p:hover{
    color: var(--color-brandcolor);
} */
