.side-menu{
    width: fit-content;
}
.side-menu * + *{
    margin-top: 15px;
}

.side-menu a{
    display: flex;
    text-decoration: none;
}

.side-menu a div{
    max-width: 30px;
    min-width: 30px;
    padding-top: 14px;
}
.side-menu a i{
    font-size: var(--icon-size);
    color: black;
}
.side-menu a:hover > p,
.side-menu a:hover i{
    color: var(--color-brandcolor);
}
.side-menu a * + *{
    margin-left: 13px;
}
.side-menu p{
    font-size: 13px;
    color: var(--color-grey);
}

.bottom-menu{
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
    position:fixed;
    width: 100%;
    bottom: 0;
    background-color:var(--color-white) ;
}
.bottom-menu div{
    padding-block: 5px;
    padding-inline: 7px;
    border-radius: 50%;
}
.bottom-menu div:hover{
    background-color: #d9d9d9;
    color: var(--color-brandcolor);
}
.bottom-menu i{
    font-size: 24px;
}
@media (min-width:1274px){
    .bottom-menu{
        display: none;
    }
}

@media (min-width:1000px){
    .bottom-menu{
        display: none;
    }
}

@media only screen  and (max-width:1274px){
    .col-one{
        display: none;
    }
}