.orgColOne{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    background-color: white;
    height: 100%;
    width: 15%;
    border-radius: 0px 8px 0px 0px;
}
.orgName{
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
    border-bottom: 1px solid var(--line-color);
    padding-block: 5px;
}
.orgName img{
    max-width: 30px;
}
.orgName p{
    font-weight: 700;
    color: black;
    font-size: 12px;
    line-height: 17px;
    padding-inline: 5px;
}
.orgTeams{
    display: flex;
    justify-content: space-between;
}
.hiddenMenuOuter .teamOptions{
    display: flex;
    align-items: center;
    margin-top: 8px;
    height: 0px;
}
.orgTeams p{
    font-weight: 700;
    margin-top: 10px;
}
.orgTeams i{
    font-size: 25px;
    border: none;
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: fit-content;
}
.orgTeams i:hover{
    cursor: pointer;
}

.teamAction{
    background-color: white;
    border: 1px solid var(--line-color);
    box-shadow: 0px 2px 0px 1px rgb(128, 128, 128, 0.4);

    position: absolute;
    width: 90%;
    transform: translateY(-25%);

    display: none;
    z-index: 3000;
    border-radius: 10px;
}
.hiddenMenuOuter .teamAction{
    transform: translateY(2%);
}
.displayTeamAction{
    display: block;
}
.teamAction ul li{
    list-style: none;
    padding-block: 2px;
    margin: 0px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--line-color);
}
.teamAction ul li:hover{
    background-color: var(--color-light-gray);
}
.teamAction ul li a{
    color: black;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}
.hiddenMenuOuter .teams{
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 10px;
}

.teams ul li{
    list-style: none;
    height: 25px;
}
.teams ul{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.hiddenMenuOuter .teamName i{
    font-size: 10px;
    margin-right: 20px;
    color: var(--color-brandcolor);
}
.teamName{
    display: flex;
    grid-column-gap: 10px;
}
.teamName p{
    font-size: 12px;
    color: black;
    font-weight: 600;
    
}
.teamName:hover > p{
    color: var(--color-brandcolor);
}
.teamName{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.teamName:hover{
    cursor: pointer;
    color: var(--color-brandcolor);
}
.teamName img{
    max-width: 30px;
}
.activeTeam{
    color: var(--color-brandcolor)!important;
}
.orgActiveView{
    color: var(--color-brandcolor)!important;
}



/* second column  */
.orgColTwoTitle{
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    padding-left: 20px;
    margin-top: 13px;
    border-bottom:1px solid var(--line-color);
    padding-bottom: 9px;
    
}
.orgColTwoTitle img{
    max-width: 30px;
}
.orgColTwoTitle p{
    font-size: 12px;
    font-weight: 700;
}

.orgFilter{
    padding-top: 15px;
}
.orgFilterList ul li{
    list-style: none;
}
.orgFilterList ul{
    display: flex;
    flex-direction: column;
    grid-row-gap:-5px;
}
.orgFilterItem{
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.orgFilterItem i{
    font-size: 22px;
}
.orgFilterItem p{
    font-size: 12px;
    font-weight: 600;
}
.orgFilterItem p:hover{
    color: var(--color-brandcolor);
    cursor: pointer;
}



.orgColTwoCard{
    position: fixed;
    width: 15%;
}
@media (max-width:1270px){
    .orgColTwoCard{
        width: 20.9%;
    }
}





