.orgColOne{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    background-color: white;
    height: 100%;
    width: 15%;
    border-radius: 0px 8px 0px 0px;
}
.orgName{
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
    border-bottom: 1px solid var(--line-color);
    padding-block: 5px;
}
.orgName img{
    max-width: 30px;
}
.orgName p{
    font-weight: 700;
    color: black;
    font-size: 12px;
    line-height: 17px;
    padding-inline: 5px;
}
.orgTeams{
    display: flex;
    justify-content: space-between;
}
.orgTeams span{
    font-size: 14px;
    font-weight: 700;
    color: var(--color-grey);
}

.hiddenMenuOuter .orgTeams{
    padding-right: 10px;
}
.hiddenMenuOuter .orgTeams i{
    display: flex;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    height: 0px;
}
.orgTeams p{
    font-weight: 700;
    margin-top: 10px;
}
.orgTeams i{
    font-size: 15px;
    font-weight: 700;
    border: none;
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: fit-content;
    margin-top: 10px;
}
.orgTeams i:hover{
    cursor: pointer;
}

.teamAction{
    background-color: white;
    border: 1px solid var(--line-color);
    box-shadow: 0px 2px 0px 1px rgb(128, 128, 128, 0.4);

    position: absolute;
    width: 90%;
    transform: translateY(250%);

    display: none;
    z-index: 3000;
    border-radius: 10px;
}
.hiddenMenuOuter .teamAction{
    transform: translateY(4%);
}
.displayTeamAction{
    display: block;
}
.teamAction ul li{
    list-style: none;
    padding-block: 2px;
    margin: 0px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--line-color);
}
.teamAction ul li:hover{
    background-color: var(--color-light-gray);
}
.teamAction ul li a{
    color: black;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}
.hiddenMenuOuter .teams{
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 10px;
}

.teams ul li{
    list-style: none;
    height: 25px;
}
.teams ul{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.hiddenMenuOuter .teamName i{
    font-size: 10px;
    margin-right: 10px;
    color: var(--color-brandcolor);
}
.teamName{
    display: flex;
    grid-column-gap: 10px;
}
.teamName p{
    font-size: 12px;
    color: black;
    font-weight: 600;
    
}
.teamName:hover > p{
    color: var(--color-brandcolor);
}
.teamName{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.teamName:hover{
    cursor: pointer;
    color: var(--color-brandcolor);
}
.teamName img{
    max-width: 30px;
}
.activeTeam{
    color: var(--color-brandcolor)!important;
}
.orgActiveView{
    color: var(--color-brandcolor)!important;
}

.orgRooms{
    border-bottom: 1px solid var(--line-color);
    padding-top: 10px;
}
.orgRooms a{
    text-decoration: none;
    color: black;
}
.orgRooms .orgFilterItem{
    padding-left: 0px;
}


/* second column  */
.orgColTwoCard{
    min-height: 100%;
    max-height: 100%;
}
.orgColTwoTitle{
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    padding-left: 20px;
    margin-top: 13px;
    border-bottom:1px solid var(--line-color);
    padding-bottom: 9px;
    
}
.orgColTwoTitle img{
    max-width: 30px;
}
.orgColTwoTitle p{
    font-size: 12px;
    font-weight: 700;
}

.orgFilter{
    padding-top: 15px;
}
.orgFilterList{
    border-bottom: 1px solid var(--line-color);
}
.orgFilterList ul li{
    list-style: none;
}
.orgFilterList ul{
    display: flex;
    flex-direction: column;
    grid-row-gap:-5px;
}
.orgFilterList a{
    text-decoration: none;
    color: black;
}
.orgFilterItem{
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.orgFilterItem i{
    font-size: 22px;
}
.orgFilterItem p{
    font-size: 12px;
    font-weight: 600;
}
.orgFilterItem p:hover{
    color: var(--color-brandcolor);
    cursor: pointer;
}



.orgColTwoCard{
    position: fixed;
    width: 15%;
}
@media (max-width:1270px){
    .orgColTwoCard{
        width: 20.9%;
    }
}



/* project page  */
.projects{
    min-height: 100%;
    margin-top: 15px;
}
.createProject{
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    height: fit-content;
    padding-inline: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px grey;
    background-color: var(--color-light-gray);
    color: var(--color-brandcolor);

    margin-left: auto;
    display: flex;
    align-items: center;
}
.createProject i{
    font-weight: bold;
    margin-left: 5px;
}
.project-card{
    background-color: var(--color-white);
    min-height: 150px;
    padding: 20px 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.proj-title-action{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}
.projectAction{
    display: flex;
    grid-column-gap: 5px;
    width: fit-content;
}
.projectAction button{
    background-color: white;
}
.editProject i,
.deleteProject i{
    color: var(--color-grey);
    font-size:19px ;
    padding-inline: 1px;
    padding-block: 1px;
    border: 0.2px solid var(--line-color);
    border-radius: 5px;
}
.editProject i:hover{
    cursor: pointer;
    background-color: var(--color-light-gray);
}
.deleteProject i:hover{
    cursor: pointer;
    background-color: var(--color-light-gray);
}

.projectSessionTitle p{
    font-size: 16px;
    font-weight: 700;
}
.projectSessionParticipants{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projectSessionAnchor{
    display: flex;
    align-items: center;
    grid-column-gap:5px ;
}
.projectSessionAnchor img{
    max-width: 30px;
}
.projectSessionAnchor p{
    font-size: 14px;
    font-weight: 600;
}
.projectSessionUsers{
    padding-right: 10px;
}
.projectSessionUsers img{
    max-width: 23px;
    margin-right: -10px;
}

.projFiles .filesCount p{
    font-size: 12px;
    color: var(--color-grey);
}
.daysleft{
    display: flex;
    justify-content: space-between;
}
.daysleft p{
    font-size: 12px;
    color: var(--color-grey);
}
.projProgressBar{
    border: 1px solid var(--line-color);
    height: 15px;
    border-radius: 5px;
    font-size: 10px;
}
.progressSimulator{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.proj-spacing{
    margin-top: 8px;
}




/* chat  */
.chatPageContainer{
    padding-bottom: 0px;
}
.orgChatMain{
    margin-bottom: 0px;
    display: flex;
    max-height: 93vh;
}


.orgChatImg{
    max-width: 30px;
    margin-right: 10px;
}

.chats{
    flex-basis: 100%;
    
}


.chatWindow{
    width: 100%;
    min-height: 80vh;
    max-height: 80vh;
    background-color: white;
    padding-top: 10px;
    padding-inline: 20px;
    overflow-y: auto;
    display: flex;
}
.chatWindowInner{
    flex-basis: 100%;
    overflow-y: auto;
    padding-bottom: 50px;
}

.chatWindow::-webkit-scrollbar{
    display: none;
}
.chatWindow{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.chatWindowInner::-webkit-scrollbar{
    display: none;
}
.chatWindowInner{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.orgChatInputAreaOuter{
    background-color: white;
    height: fit-content;
    max-height: 5vh;
}

.orgChatInputArea{
    position: absolute;
    bottom: 0;
    width: 35.5%;
    border: 1px solid var(--color-brandcolor);
    border-radius: 50px;
    height: 40px;
    margin-bottom: 5px;
    background-color: white;

    display: flex;
    grid-column-gap: 5px;
    z-index: 300;
    padding-inline: 5px;
}
@media(max-width:1270px){
    .orgChatInputArea{
        width: 54.2%;
    }
}
@media(max-width:900px){
    .orgChatInputArea{
        width: 79.5%;
    }
}
@media(max-width:600px){
    .orgChatInputArea{
        width: 98%;
        margin-left: 2px;
    }
    
}

.orgChatInputArea input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}
.orgChatInputArea input:focus{
    outline: none;
}
.orgChatInputArea i{
    font-size: 28px;
}
.orgChatInputArea i:hover{
    cursor: pointer;
}
.orgChatInputArea button{
    background-color: transparent;
    border-radius: 50%;
    padding-inline: 5px;
}
.orgChatInputArea button:hover{
    background-color: var(--color-light-gray);
}

.emoji{
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-25%);
    width:35.5%;
    border: 1px solid var(--line-color);
    background-color: white;
    transition: 0.5s height;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px;
}
@media(max-width:1270px){
    .emoji{
        width: 54.2%;
    }
}
@media(max-width:900px){
    .emoji{
        width: 79.5%;
    }
}

@media(max-width:600px){
    .emoji{
        width: 98%;
        transform: translateY(-90%);
    }
    
}
.emoji span{
    font-size: 25px;
}
.emoji span:hover{
    cursor: pointer;
}

.chatResponseOuter{
    display: flex;
    grid-column-gap: 5px;
}
.chatResponseOuter img{
    max-width: 20px;
    max-height: 20px;
}
.chatResponse{
    min-height: 30px;
    width: fit-content;

    display: block;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.chatContent{
    min-width: fit-content;
    max-width: 350px;
    height: fit-content;
    font-size: 12px;

}
.in-coming{
    background-color: var(--color-light-gray);
    color: black;
    max-width: 70%;
}
.out-going{
    margin-left: auto;
    background-color: var(--color-brandcolor-light);
    color: white;
    max-width: 70%;
}
.chat-timing{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}
.chat-timing p{
    font-size: 9px;
    margin-top: 5px;
    margin-right: 5px;
}
.chat-timing i{
    font-size: 6px;
    margin-right: -3px;
}


/* add user  */
.add-user{
    border: 1px solid var(--line-color);
    display: flex;
    margin-top: -20px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}
.add-user input{
    border: none;
    width: 80%;
    padding-inline: 5px;
}
.add-user input:focus{
    outline: none;
}
.add-user button{
    display: flex;
    background-color: var(--color-light-gray);
    color: var(--color-brandcolor);
    font-weight: 700;
    padding: 5px 5px;
}