.filter{
    margin-bottom: 12px;
    z-index: 100;
    border: 1px solid olivedrab;
}

.card-filter-bottom--padding{
    padding-bottom: 0px !important;
}
.card-filter{
    display: flex;
    padding-block:12px;
    background-color: white;
}
.bottom-border-line{
    border-bottom: 1px solid var(--line-color);
}
.top-border-line{
    border-top: 1px solid var(--line-color);
}
.top-border-radius{
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
}
.bottom-border-radius{
    border-radius: 0px 0px var(--card-border-radius) var(--card-border-radius);
}
.session-filter{
    text-align: center;
    width: 100%;
}
.session-filter:hover{
    cursor: pointer;
}
.session-filter i{
    font-size: 20px;
    color: var(--color-grey);
}
.session-filter p{
    color: black;
}
.session-filter:hover > p,
.session-filter:hover i{
    color: var(--color-brandcolor);
}




.card-container{
    display: flex;
    flex-direction: column;
    grid-row-gap: 12px;
}
.card{
    min-height: 30rem;
    border-radius: var(--card-border-radius);
    background-color: white;
}
.card-time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
}

.username-elipsis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.username-time{
    width: 100%;
}
.user-avater{
    display: flex;
    flex-basis: 87%;
}

.specialization{
    color: #858585;  
}

.user-avater .last-seen{
    margin-top: 2px;
}

.start-time{
    display: flex;
    align-items: center;
}
.start-time span{
    margin-right:15px ;
}

.start-time p{
    margin-right: 5px;
}

.time-menu i{
    color: var(--color-grey);
    font-size: 20px;
}

.session-type{
    padding-inline: 15px;
    padding-block: 1px;
    border-radius: 5px;
    color: white;
}
.time-sessiontype{
    display: flex;
    justify-content: space-between;
}

.card-menu--icon{
    max-height: 20px;
    padding-inline: 5px;
    border-radius: 90px;
}
.card-menu--icon i{
    color: #222222;
    font-size: 15px;
}
.card-menu--icon:hover{
    background-color: var(--color-light-gray);
}

.session-title{
    display: flex;
    justify-content: space-between;
    
}
.session-description{
    text-align: justify;
    padding-inline: 12px;
}
.session-image img{
    padding-block: 10px;
    width: 100%;
}
.joined-sessionlevel{
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
}
.session-level{
    background: rgba(133, 133, 133, 0.5);
    padding-inline: 15px;
    padding-block: 1px;
    border-radius: 5px;
    color: white;
}

#user-avater{
    min-width:60px;
    max-width:60px;
    margin-right:10px;
}

.joined-users{
    display: flex;
    align-items: center;
}
.joined-users img{
    max-width: 16px;
    min-width: 16px;
}
.joined-users .user-count{
    margin-left: 5px;
    color: var(--color-grey);
}

.join-session-btn{
    width: 100%;
    height: 32px;
    color: white;
}

.session-reactions{
    display: flex;
    justify-content: space-between;
}
.session-reactions i{
    font-size: 21px;
    color: var(--color-grey);
    margin-right: 5px;
}
.session-reactions button{
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
}
.session-reactions i:hover{
    color: var(--color-brandcolor);
}



.card-filter-stick{
    position:fixed;
    width: 35.5%;

    transform: translateY(-75.5%);
}
@media (max-width:900px){
    .card-filter-stick{
        width: 100%;
    }
    .filter-outer{
        border: 1px solid red;
    }
}

@media (min-width:899px) and (max-width:1270px){
    .card-filter-stick{
        width: 54.3%;
    }
}

@media (min-width:1559px){
    .card-filter-stick{
        width: 27%;
    }
}
.card-filterfix{
    margin-bottom: 100px;
}

/* left cards */

.side-card-stick{
    position:fixed;
    max-width: 14.5%;
    transform: translateY(-106%);
}
@media (max-width:1270px){
    .side-card-stick{
        max-width: 21.6%;
    }
}
@media (min-width:1559px){
    .side-card-stick{
        max-width: 15%;
    }
}

.side-card-stick-height{
    height: 288px;
}


.next-side-card-fixer{
    margin-top: 5px;
}


.right-card-stick{
    position:fixed;
    max-width: 14.5%;
    transform: translateY(-106%);
}
@media (max-width:1270px){
    .right-card-stick{
        max-width: 21.6%;
    }
}
@media (min-width:1559px){
    .right-card-stick{
        max-width: 15%;
    }
}
.right-card-stick-height{
    height: 303px;
}