.main{
    margin-right: 12px;
}


.fix-comment-header,
.profile-filter,
.filter{
    z-index: 100;
}
.filter-outer{
    margin-bottom: -6px;
}


.card-filter-bottom--padding{
    padding-bottom: 0px !important;
}
.card-filter{
    display: flex;
    padding-block:12px;
    background-color: white;
}
.handleFeatureFilterOverflow{
    overflow-x: auto;
}
.handleFeatureFilterOverflow::-webkit-scrollbar{
    display: block;
    height: 0.5px;
}
.handleFeatureFilterOverflow::-webkit-scrollbar-track{
    background: transparent;
}
.handleFeatureFilterOverflow::-webkit-scrollbar-thumb{
    background-color:var(--color-scrollbar-button);
    border-radius: 8px;
}
.handleFilterOverflow{
    overflow-x: auto;
}
.handleFilterOverflow::-webkit-scrollbar{
    display: block;
    height: 2px;
}
.handleFilterOverflow::-webkit-scrollbar-track{
    background: transparent;
}
.handleFilterOverflow::-webkit-scrollbar-thumb{
    background-color:var(--color-scrollbar-button);
    border-radius: 8px;
}

.bottom-border-line{
    border-bottom: 1px solid var(--line-color);
}
.top-border-line{
    border-top: 1px solid var(--line-color);
}
.top-border-radius{
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
}
.bottom-border-radius{
    border-radius: 0px 0px var(--card-border-radius) var(--card-border-radius);
}
.session-filter{
    text-align: center;
    width: 100%;
}
.session-filter:hover{
    cursor: pointer;
}
.session-filter i{
    font-size: 20px;
    color: var(--color-grey);
}
.session-filter p{
    color: black;
    min-width: 130px;
}
.session-filter:hover > p,
.session-filter:hover i{
    color: var(--color-brandcolor);
}


/* inner filter  */
.dashboardFilterOuter{
    display: none;
}
.industryFilterOuter{
    display: none;
}
.interestFilterOuter{
    display: none;
}
.dashboardFilter{
    height: 40px;
    background-color: white;
    border-radius: 0px 0px var(--card-border-radius) var(--card-border-radius);
    border-top: 1px solid var(--line-color);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#industryBtn,
#interestBtn{
    font-size: 13px;
    font-weight: 600;
    padding-inline: 32px;
    height: 25px;
    border-radius: 28px;
    background: none;
}
#industryBtn:hover{
    background: rgba(112, 12, 179, 0.1);
}
#interestBtn:hover{
    background: rgba(112, 12, 179, 0.1);
}

.inner-filter-btn-background{
    background: rgba(112, 12, 179, 0.1)!important;
}
.displayInnerFilter{
    display: block!important;
}

.dashboardCardFilter{
    margin-bottom: 16px;
}
.dashboardCardFilter select{
    width: 100%;
    height: 32px;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
}

.dashboardCardFilter select:focus{
    outline: none;
}

.dashboardCardFilter select option{
    font-size: 14px;
}

.followingList{
    background-color: white;
    margin-top: 10px;
    min-height: 35rem;
    padding-block: 16px;
    padding-inline: 8px;
    border-radius: 8px;
}

.followListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.fieldName{
    display: flex;
    grid-column-gap: 8px;
}

.fieldName i{
    font-size: 18px;
    color: var(--color-grey);
}

.fieldName p{
    font-size: 14px;
}

.interestFollowBtn{
    transform: translateY(-19%) translateX(16%);
}

.suggestedFollow:hover{
    background-color: var(--color-brandcolor);
    color: white;
    transition: 0.2s;
}

.suggestedGroups{
    display: none;
}

.interestDashboard{
    display: none;
}

.displayFollowList{
    display: block!important;
}
.removeFollowList{
    display: none!important;
}
.displayDashboard{
    display: block!important;
}
.removeDashboard{
    display: none!important;
}


.card-container{
    display: flex;
    flex-direction: column;
    grid-row-gap: 12px;
}
.card{
    border-radius: var(--card-border-radius);
    background-color: white;
    margin-top: 14px;
}
.cardInterest{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    padding-top: 10px;
    margin-bottom: -2px;
}
.cardInterest p{
    font-size: 10px;
    display: flex;
    font-weight: 700;
    padding-inline: 15px;
    padding-block: 2px;
    height: fit-content;
    border-radius:5px;
    background-color: var(--color-light-gray);
}
.cardInterest button{
    font-size: 10px;
    padding-inline: 15px;
    height: fit-content;
    padding-block: 2px;
    border-radius: 5px;
    background-color: var(--color-light-gray);
    color: var(--color-brandcolor);
    font-weight: 700;
}
.cardInterest button i{
    font-weight: 600;
}
.cardInterestChild{
    display: flex;
    grid-column-gap: 10px;
}
.card-time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
}

.username-elipsis{
    display: flex;
    justify-content: space-between;
    align-items:center;
    line-height: 15px;
}
.username-time{
    width: 100%;
}
.user-avater{
    display: flex;
    flex-basis: 87%;
}

.specialization{
    color: #858585;
    height: fit-content;
}
@media (max-width:700px){
    .specialization{
        max-width:72% ;
    }
}

.user-avater .last-seen{
    margin-top: 2px;
}

.start-time{
    display: flex;
    align-items: center;
}
.start-time span{
    margin-right:-10px ;
    color: var(--color-green);
}

.start-time p{
    margin-right: -15px;
}

.time-menu i{
    color: var(--color-grey);
    font-size: 20px;
}

.session-type{
    padding-inline: 15px;
    border-radius: 5px;
    color: white;
}
.time-sessiontype{
    display: flex;
    justify-content: space-between;
}
.simple-session{
    background-color: var(--color-brandcolor-light);
}

.card-menu--icon{
    display: flex;
    justify-content: center;
}
.card-menu--icon i{
    color: #222222;
    font-size: 15px;
    border-radius: 10px;
}
.card-menu--icon i:hover{
    background-color: var(--color-light-gray);
}

.session-title{
    display: flex;
    padding-inline: 10px;
    margin-top: 10px;
}

.session-description{
    padding-inline: 10px;
    padding-block: 0px;
    margin-top: 10px;
}

.session-image img{
    padding-block: 10px;
    width: 100%;
}
.sessionMultiVisual{
    display: flex;
    flex-wrap: wrap;
    padding-block: 10px;
}

.ask-session-image img{
   width: 100%;
}
.joined-sessionlevel{
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
}
.session-level{
    background: rgba(133, 133, 133, 0.5);
    padding-inline: 15px;
    border-radius: 5px;
    color: white;
    padding-top: 1px;
    /* margin-right: 8px; */
    font-size: 10px;
}

#user-avater{
    min-width:50px;
    max-width:50px;
    margin-right:8px;
}


@media (max-width:900px){
    #user-avater{
        min-width:45px;
        max-width:45px;
        margin-right:6px;
    }
}

.joined-users{
    display: flex;
    align-items: center;
}
.joined-users:hover{
    cursor: pointer;
}
.joined-users img{
    max-width: 16px;
    min-width: 16px;
}
.joined-users .user-count{
    margin-left: 5px;
    color: var(--color-grey);
}

.join-session-btn{
    width: 100%;
    height: 32px;
    color: white;
}

.session-reactions{
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 20px;
    border-top: 1px solid var(--line-color); 
}
.session-reactions p{
    font-size: 10px;
}
@media (max-width:900px){
    .session-reactions{
        /* padding-inline: 20px; */
    }
}
.session-reactions i{
    font-size: 18px;
    color: var(--color-grey);
    margin-left: 5px;
}

.session-reactions button{
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
}

.session-reactions i:hover{
    color: var(--color-brandcolor);
}

.reaction-counts{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    margin-bottom: 10px;
}
.likeCount p,
.shareCount p,
.commentCount p{
    font-size: 10px;
    color: var(--color-grey);
}
.reaction-counts span{
    margin-right: 2px;
    font-size: 12px;
}

.comment-reason{
    display: flex;
    justify-content: space-around;
}

.comment-reason button{
    width: 50%;
    background: none;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-brandcolor);
    padding-block: 8px;
}
.commentReasonHilight{
    width: 50%;
    border: 1px solid var(--color-brandcolor);
}


.filteredContent{
    display: none;
}


/* group */

#group-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    grid-column-gap: 16px;
}


.groupCard{
    padding: 16px;
}
.groupCard .group-profile-img{
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.groupCard h4{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    color: black;
}

.groupCard p{
    font-size: 12px;
    color: var(--color-brandcolor);
    font-weight: 500;
}

.groupMenuIcon{
    float: right;
    margin-right: 16px;
    margin-top: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 28px;
}
.groupMenuIcon:hover{
    cursor: pointer;
    background-color:var(--color-light-gray);
}
.groupMenuIcon i{
    font-size: 22px;
    color: grey;
}

.groupRequestCancel{
    float:right;
    margin-right: -30px;
    margin-top: 45px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 28px;
}

.groupRequestCancel i{
    font-size: 22px;
    color: grey;
}

.groupRequestCancel i:hover{
    cursor: pointer;
}

.group-profile-header{
    background-color: white;
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 16px;
    border-radius: 8px 8px 0px 0px;
    overflow-y: hidden;
}
.suggestion-group-profile-header{
    background-color: white;
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 16px;
    border-radius: 8px 8px 8px 8px;
    overflow-y: hidden;
}
.group-profile-img-container{
    display: flex;
    justify-content: space-between;
}
.editGroupBtn{
    height: 30px;
    transform: translateY(130%) translateX(9%);
}

.joinGroupBtn{
    height: 30px;
    background-color: var(--color-brandcolor)!important;
    color: white;
    transform: translateY(130%) translateX(9%);
}

.group-information{
    padding-inline: 16px;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    grid-row-gap: 4px;
}

.group-information h4{
    font-size: 18px;
}

.group-information p{
    font-size: 13px;
    color: var(--color-grey);
}

.group-information #member-count{
    color: var(--color-brandcolor);
}

.group-information #member-count:hover{
    cursor: pointer;
}

.group-information #about-group{
    max-height: 20px;
    max-width: 100%;
    overflow: hidden;
}

.profile-followers{
    display: flex;
    grid-column-gap: 16px;
}

.member-list-container{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}

.brainstorm-member-list-container{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}

.member-list{
    padding-inline: 0px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 32px;
    border-radius: 8px;
    width: 35.5%;
    background-color: white;
    box-shadow: 0px 0px 6px -2px grey;
    margin-top: 52px;
    min-height: 550px;
    max-height: 550px;
    padding-block: 16px;
    overflow-y: auto;
}

@media (max-width:600px){
    .member-list{
        min-width: 100%;
        max-width: 100%;
    }
}

@media (min-width:600px) and (max-width:899px){
    .member-list{
        max-width: 79.5%;
    }
    
}

@media (max-width:900px){
    .member-list{
        width: 100%;
        margin-left: 12px;
    }
   
}

@media (min-width:899px) and (max-width:1270px){
    .member-list{
        width: 54.2%;
    }
    
}

.member-list .getSearchInput{
    border: 1px solid grey;
    width: 250px;
    height: 24px;
    border-radius: 28px;
    padding-inline: 16px;
}

.member-list .searchInput:focus{
    outline: none;
}

.member-item{
    display: flex;
    grid-column-gap:8px ;
    padding-inline: 16px;
}
.member-item img{
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;
}
.user-div-outer{
    width: 100%;
}
.user-div{
    display: flex;
    justify-content: space-between;
}
.user-div i{
    height: 22px;
}
.user-div i:hover{
    cursor: pointer;
}

.user-div h5{
    font-size: 14px;
}

.user-div-outer .occupation{
    font-size: 12px;
    color: var(--color-grey);
}

.displayMemberList{
    display: flex;
}
.displayBrainstormMemberList{
    display: flex;
}






.card-filter-stick{
    position:fixed;
    width: 35.4%;

    transform: translateY(-76%);
}
.profile-filter-stick{
    position: fixed;
    width: 35.4%;
    transform: translateY(-90.3%);
}
.extended-filter-stick{
    position: fixed;
    width: 35.4%;
    transform: translateY(-78.3%);
}
.no-creation-stick{
    position: fixed;
    width: 35.4%;
    transform: translateY(-37%);
}

@media (max-width:600px){
    .extended-filter-stick{
        min-width: 100%;
        max-width: 100%;
    }
}

@media (min-width:600px) and (max-width:899px){
    .card-filter-stick{
        max-width: 79.5%;
    }
    .profile-filter-stick{
        max-width: 79.4%;
    }
    .no-creation-stick{
        max-width: 79.5%;
    }
    
    .main{
        padding-inline: 10%;
    }
}

@media (max-width:900px){
    .card-filter-stick{
        width: 99.4%;
    }
    .profile-filter-stick{
        width: 99.3%;
    }
    .no-creation-stick{
        width: 99.4%;
    }
    .extended-filter-stick{
        width: 79.5%;
    }
}

@media (min-width:899px) and (max-width:1270px){
    .card-filter-stick{
        width: 54.2%;
    }
    .profile-filter-stick{
        width:54.1% ;
    }
    .no-creation-stick{
        width:54.2% ;
    }
    .extended-filter-stick{
        width:54.1% ;
    }
}

@media (min-width:1559px) and (max-width:10000px){
    .card-filter-stick{
        max-width: 457px;
    }
    .profile-filter-stick{
        max-width: 457px;
    }
    .no-creation-stick{
        max-width: 457px;
    }
}

.card-filterfix{
    margin-bottom: 115px;
}
.card-profileFilter-fix{
    margin-bottom: 278px;
}
.card-extendedFilter-fix{
    margin-bottom: 318px;
}
.card-noCreation-fix{
    margin-bottom: 50px;
}

/* left cards */

.side-card-stick{
    position:fixed;
    max-width: 15.02%;
    transform: translateY(-106%);
}


@media (max-width:1270px){
    .side-card-stick{
        max-width: 20.9%;
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .side-card-stick{
        max-width: 259px;
    }
}

.side-card-stick-height{
    height: 288px;
}


.next-side-card-fixer{
    margin-top: 5px;
}


.right-card-stick{
    position:fixed;
    max-width: 15.02%;
    transform: translateY(-106%);
}
@media (max-width:1270px){
    .right-card-stick{
        max-width: 20.9%;
    }
}
@media (min-width:1559px) and (max-width:5000px){
    .right-card-stick{
        max-width: 259px;
    }
}
.right-card-stick-height{
    height: 295px;
}


/* card popup menu  */

.mainCardMenuOuter{
    position: absolute;
    background-color: white;
    min-width: 280px;
    max-width: 400px;
    right: 33.5%;
    margin-top: 2px;
    border-radius: 15px;
    box-shadow: 0px 1px 4px 4px rgb(128, 128, 128, 0.2);
    overflow: hidden;
    display: none;
}
@media (max-width:1270px){
    .mainCardMenuOuter{
        right: 24.5%;
    }
}

@media (max-width:900px){
    .mainCardMenuOuter{
        right:11.5%;
    }
}
@media (max-width:600px){
    .mainCardMenuOuter{
        right: 2%;
    }
}


.mainMenuPlate{
    font-size: 25px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    padding-block: 5px;
}
.mainMenuPlate i{
    color: var(--color-grey);
}
.mainMenuPlate button{
    background-color: transparent;
    font-size: 15px;
    color: black;
}
.mainMenuPlate:hover{
    background-color: var(--color-light-gray);
}
.closeMenuCard{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.closeMenuCard span{
    font-size: 15px;
    margin-left: 15px;
    font-weight: 700;
}
.closeMenuCard:hover{
    cursor: pointer;
}

.displayMainCardMenu{
    display: block;
}


.HeaderProfileExtension{
    border: 1px solid red;
}