.main{
    margin-right: 12px;
}

.profile-filter,
.filter{
    margin-bottom: 12px;
    z-index: 100;
}

.card-filter-bottom--padding{
    padding-bottom: 0px !important;
}
.card-filter{
    display: flex;
    padding-block:12px;
    background-color: white;
}
.bottom-border-line{
    border-bottom: 1px solid var(--line-color);
}
.top-border-line{
    border-top: 1px solid var(--line-color);
}
.top-border-radius{
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
}
.bottom-border-radius{
    border-radius: 0px 0px var(--card-border-radius) var(--card-border-radius);
}
.session-filter{
    text-align: center;
    width: 100%;
}
.session-filter:hover{
    cursor: pointer;
}
.session-filter i{
    font-size: 20px;
    color: var(--color-grey);
}
.session-filter p{
    color: black;
}
.session-filter:hover > p,
.session-filter:hover i{
    color: var(--color-brandcolor);
}




.card-container{
    display: flex;
    flex-direction: column;
    grid-row-gap: 12px;
}
.card{
    /* min-height: 30rem; */
    border-radius: var(--card-border-radius);
    background-color: white;
}
.card-time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
}

.username-elipsis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.username-time{
    width: 100%;
}
.user-avater{
    display: flex;
    flex-basis: 87%;
}

.specialization{
    color: #858585;  
}

.user-avater .last-seen{
    margin-top: 2px;
}

.start-time{
    display: flex;
    align-items: center;
}
.start-time span{
    margin-right:15px ;
    color: var(--color-green);
}

.start-time p{
    margin-right: 5px;
}

.time-menu i{
    color: var(--color-grey);
    font-size: 20px;
}

.session-type{
    padding-inline: 15px;
    padding-block: 1px;
    border-radius: 5px;
    color: white;
}
.time-sessiontype{
    display: flex;
    justify-content: space-between;
}

.card-menu--icon{
    max-height: 20px;
    padding-inline: 5px;
    border-radius: 90px;
}
.card-menu--icon i{
    color: #222222;
    font-size: 15px;
}
.card-menu--icon:hover{
    background-color: var(--color-light-gray);
}

.session-title{
    display: flex;
    justify-content: space-between;
    
}
.session-description{
    text-align: justify;
}
.session-image img{
    padding-block: 10px;
    width: 100%;
}
.ask-session-image{
    display: flex;
    flex-wrap: wrap;
    padding-block: 10px;
    /* max-height: 267px;
    overflow-y: auto; */
}

.ask-session-image img{
   width: 50%;
}
.joined-sessionlevel{
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
}
.session-level{
    background: rgba(133, 133, 133, 0.5);
    padding-inline: 15px;
    padding-block: 1px;
    border-radius: 5px;
    color: white;
    margin-right: 8px;
}

#user-avater{
    min-width:50px;
    max-width:50px;
    margin-right:8px;
}


@media (max-width:900px){
    #user-avater{
        min-width:45px;
        max-width:45px;
        margin-right:6px;
    }
}

.joined-users{
    display: flex;
    align-items: center;
    padding-left: 8px;
}
.joined-users img{
    max-width: 16px;
    min-width: 16px;
}
.joined-users .user-count{
    margin-left: 5px;
    color: var(--color-grey);
}

.join-session-btn{
    width: 100%;
    height: 32px;
    color: white;
}

.session-reactions{
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    border-top: 1px solid var(--line-color);
}
@media (max-width:900px){
    .session-reactions{
        padding-inline: 20px;
    }
}
.session-reactions i{
    font-size: 18px;
    color: var(--color-grey);
    margin-right: 5px;
    margin-left: 5px;
}

.session-reactions button{
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
}
.session-reactions i:hover{
    color: var(--color-brandcolor);
}



@media (max-width:900px){
    .session-reactions .font-size-12{
        font-size: 10px;
    }
    .session-reactions .font-size-14{
        font-size: 12px;
    }
}



.card-filter-stick{
    position:fixed;
    width: 35.5%;

    transform: translateY(-72.8%);
}
.profile-filter-stick{
    position: fixed;
    width: 35.5%;
    transform: translateY(-87.8%);
}


@media (min-width:600px) and (max-width:899px){
    .card-filter-stick{
        max-width: 80%;
    }
    .profile-filter-stick{
        max-width: 80%;
    }
    
    .main{
        padding-inline: 10%;
    }
}

@media (max-width:900px){
    .card-filter-stick{
        width: 100%;
    }
    .profile-filter-stick{
        width: 100%;
    }
}

@media (min-width:899px) and (max-width:1270px){
    .card-filter-stick{
        width: 54.2%;
    }
    .profile-filter-stick{
        width:54.2% ;
    }
}

@media (min-width:1559px) and (max-width:10000px){
    .card-filter-stick{
        max-width: 457px;
    }
    .profile-filter-stick{
        max-width: 457px;
    }
}
.card-filterfix{
    margin-bottom: 115px;
}
.card-profileFilter-fix{
    margin-bottom: 237px;
}


/* left cards */

.side-card-stick{
    position:fixed;
    max-width: 15.02%;
    transform: translateY(-106%);
}



@media (max-width:1270px){
    .side-card-stick{
        max-width: 20.9%;
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .side-card-stick{
        max-width: 259px;
    }
}

.side-card-stick-height{
    height: 288px;
}


.next-side-card-fixer{
    margin-top: 5px;
}


.right-card-stick{
    position:fixed;
    max-width: 15.02%;
    transform: translateY(-106%);
}
@media (max-width:1270px){
    .right-card-stick{
        max-width: 20.9%;
    }
}
@media (min-width:1559px) and (max-width:5000px){
    .right-card-stick{
        max-width: 259px;
    }
}
.right-card-stick-height{
    height: 295px;
}