
.profile-info{
    min-height: 230px;
    max-height: 230px;
    padding-top: 0px;
}
.profile-backdrop{
    height: 65%;
    width: 100%;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;

    overflow-y: hidden;
}
.profile-backdrop img{
    width: 100%;
    
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
    
}
.profileImg{
    max-height: 60px;
    min-height: 60px;
    max-width: 60px;
    min-width: 60px;
    border: 1px solid var(--line-color);
    border-radius: 50%;
    padding-inline: 1px;
    padding-block: 1px;
    background-color: var(--color-grey);
    position: absolute;
    transform: translateY(-70%) translateX(35%);
}
.profileImg img{
    width: 100%;
}
.profile-text{
    display: flex;
    justify-content: space-between;
    height: 65%;
    /* background-color: green; */
    /* padding-top: 30px; */
    padding-left: 20px;
}

.profile-title{
    color: var(--color-grey);
}
.followers-count{
    display: flex;
    grid-column-gap: 30px;
    margin-top: 3px;
}
.followers-count p{
  color: grey;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.followers-count p span{
    margin-left: 10px;
}
.followers-count i{
    font-size: 6px;
    color: var(--color-grey);
    margin-right: 5px;
}
.followBtn{
    margin-top: 10px;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 30px;
    margin-right: 20px;
    border: 1px solid var(--color-brandcolor);
    background-color: var(--color-white);
}
.profile-username{
    margin-top: 18px;
    margin-bottom: 1px;
}