.sessionPage{
    position: fixed;
    width: 100%;
}
.activeSession{
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 0px;
}
.activeSessionImg{
    position: absolute;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}
.activeSessionImg img{
    max-width: 35%;
    margin-right: 12px;
    margin-top: 10px;
    border-radius: var(--card-border-radius);
    /* display: none; */
}
@media (max-width:1270px){
    .activeSessionImg img{
        max-width: 53%;
    }
}
@media (max-width:900px){
    .activeSessionImg img{
        max-width: 77%;
        margin-right: 0px;
        margin-left: 2px;
    }
}
@media (max-width:600px){
    .activeSessionImg img{
        max-width: 96%;
        margin-right: 0px;
        margin-left: 2px;
    }
}


.questionAnswer{
    border: 1px solid var(--line-color);
    margin: 10px 10px;
    padding-block: 10px;
    border-radius: var(--card-border-radius);
    background-color: rgb(112, 12, 179, 0.2);
    /* min-height: 450px; */
    max-height: 450px;
    overflow-y: auto;
}
.questionAnswerInner{
    height: fit-content;
    margin-top: 90px;
}

@media (max-width:1270px){
    .questionAnswer{
        width: 96.7%;
    }
}
@media (max-width:600px){
    .questionAnswer{
        width: 96%;
        min-height: 200px;
        max-height: 480px;
    }
}
@media (max-width:500px){
    .questionAnswer{
        width: 95%;
        min-height: 200px;
        max-height: 480px;
    }
}

.questionAnswer::-webkit-scrollbar{
    display: none;
}
.questionAnswer{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.actQuestion {
    padding-block: 5px;
}
.actAnswer{
    padding-block: 5px;
}
.sessionQuestion{
    width: 60%;
    background: white;
    margin-left: 10px;
    border-radius: 8px;
    padding-inline: 10px;
    padding-block: 10px;
}
.answer-userImg{
    display: flex;
}
.question-userImg{
    display: flex;
}
.answerUserImg{
    width: 25px;
    max-height: 25px;
    margin-right: 5px;
}
.questionUserImg{
    width: 25px;
    max-height: 25px;
    margin-left: 5px;
}
.sessionAnswer{
    width: 60%;
    margin-left: auto;
    background: white;
    margin-right: 10px;
    border-radius: 8px;
    padding-inline: 10px;
    padding-block: 10px;
}

.actQuestion .question-title{
    margin-left: 40px;
    margin-bottom: 3px;
}
.actAnswer .answer-title{
    text-align: right;
    margin-right: 40px;
    margin-bottom: 3px;
}
.enterAnswerOuter{
    display: flex;
    padding-inline: 10px;
    margin-bottom: 20px;
}
.enterAnswer{
    display: flex;
    border: 1px solid var(--line-color);
    background: rgba(90, 82, 128, 0.05);
    width: 100%;
    border-radius: 8px;
}
.enterAnswer input{
    width: 100%;
    height: 35px;
    border: none;
    background-color: transparent;
    padding-inline: 20px;
}
.enterAnswer input:focus{
    outline: none;
}

.submitAnswer{
    background: var(--color-brandcolor);
    color: white;
    width: 40px;
    height: 35px;
    margin-left: 10px;
    border-radius: 60%;
    display: flex;
   align-items: center;
   justify-content: center;
}
.send-time{
    color: grey;
}


.leaveSession{
    color: grey;
    margin-left: 20px;
}

/* feedback session*/
.feedbackOuter{
    display: none;
}

.feedback-guide{
    color: var(--color-brandcolor);
    padding-inline: 30px;
}

.questionsList{
    background-color: rgb(112, 12, 179, 0.2);
    padding-inline: 20px;
    padding-block: 20px;
    /* padding-top: 420px; */
    min-height: 480px;
    max-height: 480px;
    overflow-y: auto;
    
    display: flex;
}
.questionListInner{
    height: fit-content;
    margin-top: auto;
}
.questionsList * + *{
    margin-top: 10px;
}
.questionItem{
    border: 1px solid var(--line-color);
    border-radius: 8px;
    background-color: white;
    padding-inline: 10px;
    padding-block: 10px;
}
.questionItem:hover{
    cursor: pointer;
}

.answerList{
    display: none;
    background-color: rgb(112, 12, 179, 0.2);
    padding: 20px;
    min-height: 480px;
    max-height: 480px;
}
.answerList * + *{
    margin-top: 10px;
}



.answers{
    border: 1px solid var(--line-color);
    border-radius: 8px;
    background-color: white;
    padding-inline: 10px;
    padding-block: 10px;
}
.exitAnswer:hover{
    cursor: pointer;
}

.answerStyle{
    background-color: var(--color-brandcolor);
    color: white;
}







/* switch   */

.toggleImageOuter{
    display: flex;
    justify-content: center;
}
.toggleImageOuter p{
    margin-right: 10px;
}
/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : 30px;
    height : 15px;
    background-color: grey;
    border-radius: 30px;
    border: 2px solid gray;
}
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    top: -0.3px;
    left: 1px;
    transition:  all 0.5s;
}
       
/* Toggle text */

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 14px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: var(--color-brandcolor);
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}