html, body{
    height: 100% !important;
    height: 100%;
}

.sessionPage{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
}
.sessionPageInner{
    width: 36%;
    height: 100%;
    
}
@media (max-width:600px){
    .sessionPageInner{
        min-width: 100%;
    }
}
@media (min-width:599px) and (max-width:900px){
    .sessionPageInner{
        min-width: 81.5%;
    }
}
@media (max-width:1270px){
    .sessionPageInner{
        width: 55.5%;
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .sessionPageInner{
        max-width:28.5rem ;
    }
}

.sessionContentContainer{
    max-height: 100%;
}

.questionAnswerCard{
    max-height: 100%;
}

.questionAnswerOuter{
    height: 100%;
}
.questionAnswer{
    max-height: 92vh;
    background-color: rgb(112, 12, 179, 0.2);
    overflow-y: auto;
}
.QAImage{
    background-color: var(--color-white);
}
.QAImage .activeImg{
    margin-block: 10px;
}



.activeSession{
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 0px;
}
.activeSessionImg{
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.activeSessionImg img{
    max-width: 100%;
    border-radius: var(--card-border-radius);
    box-shadow: 2px 3px 2px 2px rgb(128, 128, 128, 0.4);
}
@media (max-width:1270px){
    .activeSessionImg img{
        max-width: 100%;
    }
}
@media (max-width:900px){
    .activeSessionImg img{
        max-width: 100%;
        margin-right: 0px;
        /* margin-left: 2px; */
    }
}
@media (max-width:600px){
    .activeSessionImg img{
        max-width: 100%;
        margin-right: 0px;
    }
}


.questionAnswerInner{
    max-height:100%;
    overflow-y: auto;
    padding-bottom: 20px;
    border: 1px solid red;
}
.questionAnswerInner::-webkit-scrollbar{
    display: none;
}
.questionAnswerInner{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.QAContainer{
    max-height: 200px!important;
}


.questionAnswer::-webkit-scrollbar{
    display: none;
}
.questionAnswer{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.actQuestion {
    padding-block: 5px;
}
.actAnswer{
    padding-block: 5px;
}
.sessionQuestion{
    width: 60%;
    background: white;
    margin-left: 10px;
    border-radius: 8px;
    padding-inline: 10px;
    padding-block: 10px;
}
.answer-userImg{
    display: flex;
}
.question-userImg{
    display: flex;
}
.answerUserImg{
    width: 25px;
    max-height: 25px;
    margin-right: 5px;
}
.questionUserImg{
    width: 25px;
    max-height: 25px;
    margin-left: 5px;
}
.sessionAnswer{
    width: 60%;
    margin-left: auto;
    background: white;
    margin-right: 10px;
    border-radius: 8px;
    padding-inline: 10px;
    padding-block: 10px;
}

.actQuestion .question-title{
    margin-left: 40px;
    margin-bottom: 3px;
}
.actAnswer .answer-title{
    text-align: right;
    margin-right: 40px;
    margin-bottom: 3px;
}
.enterAnswerOuter{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.enterAnswerInner{
    display: flex;
    width: 36%;
    background-color: var(--color-white);
    padding: 8px;
}

.enterAnswer{
    display: flex;
    border: 1px solid var(--line-color);
    margin-right: 12px;
    width: 100%;
    border-radius: 8px;
}

@media (max-width:600px){
    .enterAnswerInner{
        min-width: 100%;
        /* margin-left: 15px; */
    }
}
@media (min-width:599px) and (max-width:900px){
    .enterAnswerInner{
        min-width: 81.5%;
        /* margin-left: 15px; */
    }
}
@media (max-width:1270px){
    .enterAnswerInner{
        width: 55.5%;
        /* margin-right: 12px; */
    }
}
@media (min-width:1559px) and (max-width:10000px){
    .enterAnswer{
        max-width:28.5rem ;
    }
}
.enterAnswer input{
    width: 100%;
    height: 35px;
    border: none;
    background-color: transparent;
    padding-inline: 20px;
}
.enterAnswer input:focus{
    outline: none;
}

.submitAnswer{
    background: var(--color-brandcolor);
    color: white;
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send-time{
    color: grey;
}

.leaveSession{
    color: grey;
    margin-left: 20px;
}

/* feedback session*/
.feedback-guide{
    color: var(--color-brandcolor);
    padding-inline: 30px;
}

.questionsList{
    background-color: rgb(112, 12, 179, 0.2);
    padding-inline: 20px;
    padding-block: 20px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;

    animation-name: animQuestList;
    animation-duration: 0.8s;
}


.questionListInner{
    height: fit-content;
}
.questionsList * + *{
    margin-top: 10px;
}
.questionItem{
    border: 1px solid var(--line-color);
    border-radius: 8px;
    background-color: white;
    padding-inline: 10px;
    padding-block: 10px;
}
.questionItem:hover{
    cursor: pointer;
}



/* answers  */
.answersContainer{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
}
.answersToQuestions{
    flex-basis: 35.6%;
    height: 72%;
    margin-top: 109px;
    margin-right: 10px;
}
@media (max-width:600px){
    .answersToQuestions{
        min-width: 99%;
        margin-right: 0px;
    }
}
@media (min-width:601px) and (max-width:900px){
    
    .answersToQuestions{
        min-width: 79%;
        margin-right: -5px;
    }
}
@media (max-width:1270px){
    .answersToQuestions{
        flex-basis: 54.5%;
    }
}

.answerList{
    display: none;
    background-color: var(--color-white);
    padding: 20px;
    animation-name: animAnsList;
    animation-duration: 0.8s;
}

.answerList * + *{
    margin-top: 10px;
}
.answerListInner{
    height: 100%;
}

.answers{
    border: 1px solid var(--line-color);
    border-radius: 8px;
    background-color: rgb(112, 12, 179, 0.2);
    padding-inline: 10px;
    padding-block: 10px;
}
.answers:hover{
    background-color: var(--color-brandcolor);
    color: white;
}
.exitAnswer:hover{
    cursor: pointer;
}

.answerStyle{
    background-color: var(--color-brandcolor);
    color: white;
}







/* switch   */

.toggleImageOuter{
    display: flex;
    justify-content: center;
}
.toggleImageOuter p{
    margin-right: 10px;
}
/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : 30px;
    height : 15px;
    background-color: grey;
    border-radius: 30px;
    border: 2px solid gray;
}
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    top: -0.3px;
    left: 1px;
    transition:  all 0.5s;
}
       
/* Toggle text */

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 14px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: var(--color-brandcolor);
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}