*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&family=Roboto:wght@300;400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap'); */

body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Inconsolata'; */
}

:root{
    --line-color:#C4C4C4;
    --color-light-gray: #c2c2c23d;
    --color-grey: #858585;
    --color-white: #FFFFFF;
    --color-brandcolor: #700CB3;
    --color-brandcolor-dark:#360259;
    --color-brandcolor-light: rgba(112, 12, 179, 0.6);
    --color-secondary:rgba(112, 12, 179, 0.1);

    --font-weight-700:700;
    --font-weight-600:600;
    --font-weight-500:500;
    --font-weight-400:400;

    --page-padding-inline:150px;


    --header-item-spacing:40px;


}


body::-webkit-scrollbar{
    display: block;
    width: 8px;
}
body::-webkit-scrollbar-track{
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color:grey;
    border-radius: 8px;
}


.page-container{
    overflow-x: hidden;
}


/* header  */
.header-container{
    height: 50.5rem;
    max-width: 100%;
    background-image: url(/images/general\ images/banner.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(to bottom, var(--color-brandcolor),var(--color-brandcolor-dark), black); */
    /* clip-path: polygon(100% -100%, 100% 80%, 15% 95%, -100% 95%); */
}

.header-container--inner{
    display: flex;
    justify-content: center;
}

.header-nav{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    grid-column-gap: var(--header-item-spacing);
    max-width: 80%;
}

.header-nav--outer{
    max-width: 100%;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo{
    width: 56px;
}

.company-name{
    color: var(--color-white);
    font-weight: var(--font-weight-700);
    font-size: 24px;
}

.link-list{
    display: flex;
    grid-column-gap: var(--header-item-spacing);
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}


.link-list li{
    transition: 0.5s;
}

.link-list li:hover{
    transform: scale(1.1);
}

.link-list li a{
    text-decoration: none;
    font-size: 16px;
    color: var(--color-white);
    font-weight: 600;
    line-height: 20px;
}


.get-started-btn{
    font-size: 15px;
    font-weight: var(--font-weight-700);
    padding-inline: 23px;
    padding-block: 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-brandcolor-dark);
    color: var(--color-white);
    min-width: 155px;
    max-width: 155px;

    flex-basis: 10%;
    
}

.get-started-btn:hover{
    cursor: pointer;
    box-shadow: 0px 2px 2px 2px rgb(0, 0, 0, 0.3);
}

.menu-icon{
    margin-right: 32px;
    padding: 16px 18px;
    border-radius: 28px;
    transition: 0.2s;

    display: none;
}
.menuIconClicked{
    background-color: white;
    color: var(--color-brandcolor);
}
.menu-icon i{
    font-size: 20px;
}
.menu-icon:hover{
    cursor: pointer;
}

@media (max-width:1000px){
    .header-nav--outer{
        max-width: 100%;
        margin-top: 24px;
    }
    .header-nav{
        justify-content: space-between;
        max-width: 100%;
    }
    .logo{
        width: 48px;
    }
    .company-name{
        font-size: 20px;
    }
    .link-list li a{
        font-size: 12px;
    }
    .get-started-btn{
        font-size: 14px;
    }
}

@media (max-width:900px){
    .menu-icon{
        display: block;
    }
  
    .link-list{
        position: absolute;
        width: 100%;
        top: 14%;
        max-height: 0px;
        overflow-y: hidden;
        display: block;
        background-color: white;
        
        padding-left: 16px;

        transition: 0.5s;
    }

    
    .link-list li{
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .link-list li a{
        color: var(--color-brandcolor);
    }
    .link-list li:hover{
        transform:none;
    }
    .link-list button{
        display: none;
    }
    .header-container{
        height: fit-content;
        padding-bottom: 20px;
    }
}

@media (max-width:470px){
    .company-name{
        display: none;
    }
}


/* banner  */
.banner-container{
    display: flex;
}
.banner-container--inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.banner-text{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 40px;
    padding-left: 10px;
    padding-top: 24px;
}

.product-preview{
    width: 320px;
    top: 0;
    right: 0;
    z-index: 2000;
}

.banner-text h1{
    color: var(--color-white);
    font-size: 40px;
    font-weight: var(--font-weight-700);
    max-width: 38rem;
}

.banner-text span{
    display: flex;
    flex-direction: column;
    grid-row-gap: 8px;
}

.banner-text h4{
    color: var(--color-white);
    font-size: 28px;
}

.banner-text p{
    color: white;
    font-size: 18px;
    max-width: 37rem;
    line-height: 28px;
}

.banner-text button{
    width: fit-content;
    font-size: 16px;
    font-weight: var(--font-weight-700);
    padding-inline: 40px;
    padding-block: 8px;
    border-radius: 8px;
    border: none;
    color: var(--color-brandcolor);
}
.banner-text button:hover{
    cursor: pointer;
}

@media (max-width:1000px){
    .product-preview{
        width: 260px;
    }
}

@media (max-width:900px){
    .banner-container--inner{
        flex-wrap: wrap;
        justify-content: center;
        grid-row-gap: 40px;
    }
    .banner-text{
        text-align: center;
    }
    
    .product-preview{
        width: 520px;
    }
    
}

@media (max-width:700px){
    .banner-text{
        flex-basis: 90%;
    }
    .banner-text h1{
        font-size: 32px;
    }
    .banner-text h4{
        font-size: 24px;
    }

    .product-preview{
        max-width: 400px;
        width: 100%;
        align-self: center;
    }
}

@media (max-width:470px){
    .banner-text{
        flex-basis: 100%;
        text-align:left;
    }

    .product-preview{
        max-width: 250px;
        width: 100%;
    }

    .banner-signupBtn{
        display: flex;
        justify-content: center;
    }
}


/* main content  */

.section-one--background{
    display: flex;
    justify-content: center;
    background-color: rgba(237, 237, 237, 0.2);
}
.section-one--container{
    flex-basis: 76%;
}

.section-one{
    padding-block: 68px;
    display: flex;
    justify-content: center;
}
.section-one-content{
    display: flex;
    flex-direction: column;
    grid-row-gap: 40px;
    width: fit-content;
    text-align: center;
    max-width: 700px;
}
.section-one h1{
    font-weight: var(--font-weight-700);
    font-size: 68px;
    color: var(--color-brandcolor);
}

.section-one p{
    font-size: 20px;
    line-height: 28px;
}

.activeBtn{
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: var(--font-weight-700);
    border: none;
    border-radius: 8px;
    color: white;
    background-color: var(--color-brandcolor);
    box-shadow: 0px 1px 2px 2px rgb(128, 128, 128, 0.5);
}

.inActiveBtn{
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: var(--font-weight-700);
    border: none;
    border-radius: 8px;
    color: var(--color-brandcolor);
    border:2px solid var(--color-brandcolor);
    
}

.buttons{
    display: flex;
    justify-content: center;
    grid-column-gap: 16px;
}

.buttons button:hover{
    cursor: pointer;
}



@media (max-width:1000px){
    .section-one h1{
        font-size: 40px;
    }
}

@media (max-width:900px){
    
    
}

@media (max-width:700px){
    .inActiveBtn{
        width: 150px;
    }
    .activeBtn{
        width: 150px;
    }
    .buttons{
        flex-wrap: wrap;
        grid-row-gap:16px ;
    }
}

@media (max-width:470px){
    
}


/* testimonial  */

.testimonial--background{
    display: flex;
    justify-content: center;
    background-color: white;
}
.testimonial--container{
    flex-basis: 76%;
}

.testimonial{
    padding-block: 68px;
    display: flex;
    justify-content: center;
}
.testimonial-content{
    display: flex;
    width: fit-content;
}

.testimony{
    min-height: 21rem;
    /* max-height: 21rem; */
    max-width: 410px;
    font-size: 19px;
    line-height:32px ;

    display: flex;
    flex-direction: column;
    grid-row-gap: 40px;
    

    display: none;
}
.testimony blockquote{
    font-weight: 500;
    font-style: italic;
}

.testimonyButtons{
    display: flex;
    justify-content: center;
    grid-column-gap: 5px;
}

.testimonyButton{
    background: grey;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: none;
    transform: translateY(-60%);

}
.testimonyButton:hover{
    cursor: pointer;
}

/* footer  */

.footer--background{
    display: flex;
    justify-content: center;
    background-color: var(--color-brandcolor-dark);
}
.footer--container{
    flex-basis: 76%;
}

.footer{
    padding-top: 68px;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.footer-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-row-gap: 24px;
    padding-top: 10px;
}
.footer-menu h4{
    color: grey;
    font-size: 15px;
    
}
.footer-menu a{
    text-align: none;
    font-weight: var(--font-weight-700);
    font-size: 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}
.logo-container{
    display: flex;
}


@media (max-width:1000px){
    .footer .company-name{
        display: none;
    }
}

@media (max-width:900px){
    .footer--container{
        flex-basis: 98%;
    }
    
}

@media (max-width:700px){
    .footer--container{
        flex-basis: 99%;
    }
    .footer-content div{
        width: 100%;
        margin-bottom: 16px;
    }
    .footer .company-name{
        display: block;
        margin-top: 20px;
    }
    .footer-menu{
        padding-top: 0px;
    }
    .footer-content{
        flex-wrap: wrap;
        justify-content: left;
        grid-row-gap: 16px;
    }
}