:root{
    --color-background: #c2c2c23d;
    --line-color:#C4C4C4;
    --color-light-gray: #c2c2c23d;
    --color-grey: #858585;
    --color-white: #FFFFFF;
    --color-green:#008000;
    --color-brandcolor: #700CB3;
    --color-brandcolor-light: rgba(112, 12, 179, 0.6);


    --card-border-radius: 10px;
}